# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log


*/__pycache__/

# venv
venv/

#database credentials
terraform/*.tfvars

#dependencies for zipping

.DS_Store

zips/*.zip